@model LojaNet.Models.Produto

@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar Produto</h2>

<hr />

@using (Html.BeginForm("Alterar", "Produto", FormMethod.Post, new { @id = "FormProduto", @class = "form-vertical" }))
{

    @Html.ValidationSummary(null, new { @class = "text-danger" })

    @Html.HiddenFor(x => Model.id)

    <div class="form-group">
        <label class="control-label" for="nome">Nome: </label>
        @Html.TextBoxFor(x => Model.nome, new { @class = "form-control", @placeholder = "Digite o nome" })
    </div>
    <div class="form-group">
        <label class="control-label" for="telefone">Preço: </label>
        @Html.TextBoxFor(x => Model.preco, new { @type = "text", @class = "form-control", @placeholder = "Digite o preço" })
    </div>
    <div class="form-group">
        <label class="control-label" for="email">Qtd Estoque: </label>
        @Html.TextBoxFor(x => Model.estoque, new { @type = "number", @class = "form-control", @placeholder = "Digite a quantidade no estoque" })
    </div>

    <button class="btn btn-success" type="submit">Salvar</button>
}